body {
    position: relative;
}

header {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.logo img {
    position: absolute;
    width: 100px;
    top: -10px;
    left: -30%;
}

h1 {
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 40px;
    cursor: default;
    letter-spacing: 0.5px;
}

h2 {
    margin-bottom: 50px;
    font-size: 20px;
    color: #686b69;
    cursor: default;
    text-transform: uppercase;
}

svg {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    border-radius: 3px;
    background-color: #eaeaea;
}

#new-2-floor-851 {
    width: 1000px;
    height: 400px;
}

#new-3-floor-851 {
    width: 1000px;
    height: 400px;
}

#old-3-floor-851 {
    width: 1000px;
    height: 430px;
}

hr {
    border-color: #eaeaea;
}

.floor {
     stroke: #aaaaaa;
     stroke-width: 1;
     fill: #cccccc;
}

.legend {
    font-size: 22px;
    font-family: sans-serif;
    fill: black;
    stroke: none;
    text-anchor: middle;
    cursor: default;
}

.rooms {
    cursor: pointer;
}

.room {
    stroke: #aaaaaa;
    stroke-width: 1;
    fill: #e57373;
}

.room:hover {
    fill: #d62121;
}

.room.green {
    fill: #00e676;
}

.room.green:hover {
    fill: #2e7d32;
}

.room.blue {
    fill: #64b5f6;
}

.room.blue:hover {
    fill: #1e58bb;
}

.room.gray {
    fill: #adadad;
}

.room.gray:hover {
    fill: #8e8e8e;
}

.name {
    font-size: 14px;
    font-family: sans-serif;
    fill: black;
    stroke: none;
    text-anchor: middle;
}

.room:hover .name {
    font-weight: bold;
}
