<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
        <title>Salas DCC</title>
        <meta name="author" content="Harambe Team Reloaded">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>

    <body>
        <header>
            <h1>Salas DCC</h1>
            <h2>No te pierdas nunca más!</h2>
        </header>

        <hr />

        <header>
            <h2>Piso 2 - 851 Edificio Poniente</h2>
        </header>
        <svg>
            <path class="floor" d="M50 48 L960 98 L960 350 L50 350 Z" />

            <g class="title">
                <text class="legend" x="775" y="50" dx="25">Piso 2 - 851 Edificio Poniente</text>
            </g>

            <g class="rooms">
                <g class="room green">
                    <path d="M100 350 L100 250 L150 250 L150 350 Z" />
                    <text class="name" x="100" y="290" dx="25">Of.</text>
                    <text class="name" x="100" y="320" dx="25">222</text>
                </g>
                <g class="room green">
                    <path d="M150 350 L150 250 L200 250 L200 350 Z" />
                    <text class="name" x="150" y="290" dx="25">Of.</text>
                    <text class="name" x="150" y="320" dx="25">221</text>
                </g>
                <g class="room green">
                    <path d="M200 350 L200 250 L250 250 L250 350 Z" />
                    <text class="name" x="200" y="290" dx="25">Of.</text>
                    <text class="name" x="200" y="320" dx="25">220</text>
                </g>
                <g class="room green">
                    <path d="M250 350 L250 250 L300 250 L300 350 Z" />
                    <text class="name" x="250" y="290" dx="25">Of.</text>
                    <text class="name" x="250" y="320" dx="25">219</text>
                </g>
                <g class="room green">
                    <path d="M300 350 L300 250 L350 250 L350 350 Z" />
                    <text class="name" x="300" y="290" dx="25">Of.</text>
                    <text class="name" x="300" y="320" dx="25">218</text>
                </g>

                <g class="room">
                    <path d="M350 350 L350 250 L400 250 L400 350 Z" />
                    <text class="name" x="360" y="300" dx="25" writing-mode="tb">Garrido, Muñoz, Romero</text>
                    <text class="name" x="340" y="300" dx="25" writing-mode="tb">217</text>
                </g>
                <g class="room">
                    <path d="M400 350 L400 250 L450 250 L450 350 Z" />
                    <text class="name" x="410" y="300" dx="25" writing-mode="tb">Bracamonte, Erazo, Guzmán</text>
                    <text class="name" x="390" y="300" dx="25" writing-mode="tb">216</text>
                </g>
                <g class="room">
                    <path d="M450 350 L450 250 L500 250 L500 350 Z" />
                    <text class="name" x="460" y="300" dx="25" writing-mode="tb">Los Emojis</text>
                    <text class="name" x="440" y="300" dx="25" writing-mode="tb">215</text>
                </g>
                <g class="room">
                    <path d="M500 350 L500 250 L550 250 L550 350 Z" />
                    <text class="name" x="510" y="300" dx="25" writing-mode="tb">Doct.</text>
                    <text class="name" x="490" y="300" dx="25" writing-mode="tb">214</text>
                </g>
                <g class="room">
                    <path d="M550 350 L550 250 L600 250 L600 350 Z" />
                    <text class="name" x="560" y="300" dx="25" writing-mode="tb">Jorge Pérez</text>
                    <text class="name" x="540" y="300" dx="25" writing-mode="tb">213</text>
                </g>
                <g class="room">
                    <path d="M600 350 L600 250 L650 250 L650 350 Z" />
                    <text class="name" x="610" y="300" dx="25" writing-mode="tb">Pablo Barceló</text>
                    <text class="name" x="590" y="300" dx="25" writing-mode="tb">212</text>
                </g>
                <g class="room">
                    <path d="M650 350 L650 250 L700 250 L700 350 Z" />
                    <text class="name" x="660" y="300" dx="25" writing-mode="tb">Aidan Hogan</text>
                    <text class="name" x="640" y="300" dx="25" writing-mode="tb">211</text>
                </g>
                <g class="room">
                    <path d="M700 350 L700 250 L750 250 L750 350 Z" />
                    <text class="name" x="710" y="300" dx="25" writing-mode="tb">Barbara Poblete</text>
                    <text class="name" x="690" y="300" dx="25" writing-mode="tb">210</text>
                </g>
                <g class="room">
                    <path d="M750 350 L750 250 L800 250 L800 350 Z" />
                    <text class="name" x="760" y="300" dx="25" writing-mode="tb">Visitantes</text>
                    <text class="name" x="740" y="300" dx="25" writing-mode="tb">209</text>
                </g>

                <g class="room">
                    <path d="M800 350 L800 250 L885 250 L885 300 L900 300 L900 350 Z" />
                    <text class="name" x="825" y="290" dx="25">Reunión</text>
                    <text class="name" x="825" y="320" dx="25">34</text>
                </g>
                <g class="room blue">
                    <path d="M885 300 L915 300 L915 200 L885 200 Z" />
                    <text class="name" x="875" y="255" dx="25" writing-mode="tb">Cocina 35</text>
                </g>

                <g class="room">
                    <path d="M915 175 L915 95.5 L800 89 L800 175 Z" />
                    <text class="name" x="830" y="120" dx="25">Secretaria</text>
                    <text class="name" x="830" y="135" dx="25">Docente</text>
                    <text class="name" x="830" y="160" dx="25">206</text>
                </g>
                <g class="room">
                    <path d="M800 175 L800 89 L750 86 L750 175 Z" />
                    <text class="name" x="765" y="135" dx="25" writing-mode="tb">Jefa</text>
                    <text class="name" x="750" y="135" dx="25" writing-mode="tb">Estudios</text>
                    <text class="name" x="735" y="135" dx="25" writing-mode="tb">205</text>
                </g>
                <g class="room gray">
                    <path d="M750 175 L750 86 L700 83.5 L700 175 Z" />
                    <text class="name" x="710" y="140" dx="25" writing-mode="tb">Auxiliares Aseo</text>
                    <text class="name" x="690" y="140" dx="25" writing-mode="tb">204</text>
                </g>
                
                <g class="room gray">
                    <path d="M700 175 L700 125 L650 125 L650 175 Z" />
                    <text class="name" x="650" y="145" dx="25">Printer</text>
                    <text class="name" x="650" y="160" dx="25">203</text>
                </g>
                
                <g class="room blue">
                    <path d="M300 175 L300 62 L500 73 L500 175 Z" />
                    <text class="name" x="375" y="120" dx="25">Laboratorio</text>
                    <text class="name" x="375" y="135" dx="25">Toqui</text>
                    <text class="name" x="375" y="160" dx="25">212</text>
                </g>
            </g>
        </svg>
        <p></p>
        
        <hr />

        <header>
            <h2>Piso 3 - 851 Edificio Poniente</h2>
        </header>
        <svg>
            <path class="floor" d="M50 48 L960 98 L960 350 L50 350 Z" />

            <g class="title">
                <text class="legend" x="775" y="50" dx="25">Piso 3 - 851 Edificio Poniente</text>
            </g>

            <g class="rooms">
                <g class="room green">
                    <path d="M100 350 L100 250 L150 250 L150 350 Z" />
                    <text class="name" x="110" y="300" dx="25" writing-mode="tb">Acad.</text>
                    <text class="name" x="90" y="300" dx="25" writing-mode="tb">323</text>
                </g>
                <g class="room green">
                    <path d="M150 350 L150 250 L200 250 L200 350 Z" />
                    <text class="name" x="160" y="300" dx="25" writing-mode="tb">Sergio Ochoa</text>
                    <text class="name" x="140" y="300" dx="25" writing-mode="tb">322</text>
                </g>
                <g class="room green">
                    <path d="M200 350 L200 250 L250 250 L250 350 Z" />
                    <text class="name" x="210" y="300" dx="25" writing-mode="tb">José Pino</text>
                    <text class="name" x="190" y="300" dx="25" writing-mode="tb">321</text>
                </g>
                <g class="room green">
                    <path d="M250 350 L250 250 L300 250 L300 350 Z" />
                    <text class="name" x="260" y="300" dx="25" writing-mode="tb">Marques, Rojas, Silvestre</text>
                    <text class="name" x="240" y="300" dx="25" writing-mode="tb">320</text>
                </g>
                <g class="room green">
                    <path d="M300 350 L300 250 L350 250 L350 350 Z" />
                    <text class="name" x="310" y="300" dx="25" writing-mode="tb">Jocelyn Simmonds</text>
                    <text class="name" x="290" y="300" dx="25" writing-mode="tb">319</text>
                </g>

                <g class="room">
                    <path d="M350 350 L350 250 L400 250 L400 350 Z" />
                    <text class="name" x="360" y="300" dx="25" writing-mode="tb">Bastarrica</text>
                    <text class="name" x="340" y="300" dx="25" writing-mode="tb">318</text>
                </g>
                <g class="room">
                    <path d="M400 350 L400 250 L450 250 L450 350 Z" />
                    <text class="name" x="410" y="300" dx="25" writing-mode="tb">Nancy Hitschfeld</text>
                    <text class="name" x="390" y="300" dx="25" writing-mode="tb">317</text>
                </g>
                <g class="room">
                    <path d="M450 350 L450 250 L500 250 L500 350 Z" />
                    <text class="name" x="460" y="300" dx="25" writing-mode="tb">Acad.</text>
                    <text class="name" x="440" y="300" dx="25" writing-mode="tb">316</text>
                </g>
                <g class="room">
                    <path d="M500 350 L500 250 L550 250 L550 350 Z" />
                    <text class="name" x="510" y="300" dx="25" writing-mode="tb">Nelson Baloian</text>
                    <text class="name" x="490" y="300" dx="25" writing-mode="tb">315</text>
                </g>
                <g class="room">
                    <path d="M550 350 L550 250 L600 250 L600 350 Z" />
                    <text class="name" x="560" y="300" dx="25" writing-mode="tb">Jaime Sánchez</text>
                    <text class="name" x="540" y="300" dx="25" writing-mode="tb">314</text>
                </g>
                <g class="room">
                    <path d="M600 350 L600 250 L650 250 L650 350 Z" />
                    <text class="name" x="610" y="300" dx="25" writing-mode="tb">Pato Poblete</text>
                    <text class="name" x="590" y="300" dx="25" writing-mode="tb">313</text>
                </g>
                <g class="room">
                    <path d="M650 350 L650 250 L700 250 L700 350 Z" />
                    <text class="name" x="660" y="300" dx="25" writing-mode="tb">Visitante</text>
                    <text class="name" x="640" y="300" dx="25" writing-mode="tb">312</text>
                </g>
                <g class="room">
                    <path d="M700 350 L700 250 L750 250 L750 350 Z" />
                    <text class="name" x="710" y="300" dx="25" writing-mode="tb">Estefó, Gutiérrez, Moreno</text>
                    <text class="name" x="690" y="300" dx="25" writing-mode="tb">311</text>
                </g>
                <g class="room">
                    <path d="M750 350 L750 250 L800 250 L800 350 Z" />
                    <text class="name" x="760" y="300" dx="25" writing-mode="tb">Visitante</text>
                    <text class="name" x="740" y="300" dx="25" writing-mode="tb">310</text>
                </g>

                <g class="room">
                    <path d="M800 350 L800 250 L885 250 L885 300 L900 300 L900 350 Z" />
                    <text class="name" x="825" y="290" dx="25">Sala Sistemas</text>
                    <text class="name" x="825" y="320" dx="25">309</text>
                </g>
                <g class="room blue">
                    <path d="M885 300 L915 300 L915 200 L885 200 Z" />
                    <text class="name" x="875" y="255" dx="25" writing-mode="tb">Cocina 36</text>
                </g>

                <g class="room">
                    <path d="M915 175 L915 95.5 L800 89 L800 175 Z" />
                    <text class="name" x="830" y="120" dx="25">Grace</text>
                    <text class="name" x="830" y="135" dx="25">Hopper</text>
                    <text class="name" x="830" y="160" dx="25">307</text>
                </g>
                <g class="room">
                    <path d="M800 175 L800 89 L700 83.5 L700 175 Z" />
                    <text class="name" x="725" y="125" dx="25">Ada Lovelace</text>s
                    <text class="name" x="725" y="160" dx="25">306</text>
                </g>
                <g class="room gray">
                    <path d="M700 175 L700 125 L650 125 L650 175 Z" />
                    <text class="name" x="650" y="145" dx="25">Printer</text>
                    <text class="name" x="650" y="160" dx="25">?</text>
                </g>

                <g class="room blue">
                    <path d="M400 210 L400 67 L500 73 L500 210 Z" />
                    <text class="name" x="425" y="130" dx="25">Laboratorio</text>
                    <text class="name" x="425" y="145" dx="25">Anakena</text>
                    <text class="name" x="425" y="180" dx="25">304</text>
                </g>
                <g class="room blue">
                    <path d="M300 210 L300 62 L400 67 L400 210 Z" />
                    <text class="name" x="325" y="100" dx="25">Sala</text>
                    <text class="name" x="325" y="115" dx="25">Philippe</text>
                    <text class="name" x="325" y="130" dx="25">"Algorithmix"</text>
                    <text class="name" x="325" y="145" dx="25">Flajolet</text>
                    <text class="name" x="325" y="180" dx="25">303</text>
                </g>
                <g class="room blue">
                    <path d="M200 175 L200 56 L300 62 L300 175 Z" />
                    <text class="name" x="225" y="100" dx="25">Laboratorio</text>
                    <text class="name" x="225" y="115" dx="25">Colossus</text>
                    <text class="name" x="225" y="140" dx="25">302</text>
                </g>
                <g class="room blue">
                    <path d="M100 175 L100 50 L200 56 L200 175 Z" />
                    <text class="name" x="125" y="100" dx="25">Laboratorio</text>
                    <text class="name" x="125" y="115" dx="25">Eniac</text>
                    <text class="name" x="125" y="140" dx="25">301</text>
                </g>
            </g>
        </svg>
    </body>
</html>
