<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
        <title>Salas DCC</title>
        <meta name="author" content="Harambe Team Reloaded">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>

    <body>
        <header>
            <h1>Salas DCC</h1>
            <h2>No te pierdas nunca más!</h2>
        </header>

        <svg>
            <path class="floor" d="M50 48 L960 98 L960 350 L50 350 Z" />

            <g class="title">
                <text class="legend" x="875" y="50" dx="25">Piso 2 - 851</text>
            </g>

            <g class="rooms">
                <g class="room green">
                    <path d="M100 350 L100 250 L150 250 L150 350 Z" />
                    <text class="name" x="100" y="290" dx="25">Of.</text>
                    <text class="name" x="100" y="320" dx="25">20</text>
                </g>
                <g class="room green">
                    <path d="M150 350 L150 250 L200 250 L200 350 Z" />
                    <text class="name" x="150" y="290" dx="25">Of.</text>
                    <text class="name" x="150" y="320" dx="25">21</text>
                </g>
                <g class="room green">
                    <path d="M200 350 L200 250 L250 250 L250 350 Z" />
                    <text class="name" x="200" y="290" dx="25">Of.</text>
                    <text class="name" x="200" y="320" dx="25">22</text>
                </g>
                <g class="room green">
                    <path d="M250 350 L250 250 L300 250 L300 350 Z" />
                    <text class="name" x="250" y="290" dx="25">Of.</text>
                    <text class="name" x="250" y="320" dx="25">23</text>
                </g>
                <g class="room green">
                    <path d="M300 350 L300 250 L350 250 L350 350 Z" />
                    <text class="name" x="300" y="290" dx="25">Of.</text>
                    <text class="name" x="300" y="320" dx="25">24</text>
                </g>

                <g class="room">
                    <path d="M350 350 L350 250 L400 250 L400 350 Z" />
                    <text class="name" x="350" y="290" dx="25">Doct.</text>
                    <text class="name" x="350" y="320" dx="25">25</text>
                </g>
                <g class="room">
                    <path d="M400 350 L400 250 L450 250 L450 350 Z" />
                    <text class="name" x="400" y="290" dx="25">Doct.</text>
                    <text class="name" x="400" y="320" dx="25">26</text>
                </g>
                <g class="room">
                    <path d="M450 350 L450 250 L500 250 L500 350 Z" />
                    <text class="name" x="450" y="290" dx="25">Doct.</text>
                    <text class="name" x="450" y="320" dx="25">27</text>
                </g>
                <g class="room">
                    <path d="M500 350 L500 250 L550 250 L550 350 Z" />
                    <text class="name" x="500" y="290" dx="25">Doct.</text>
                    <text class="name" x="500" y="320" dx="25">28</text>
                </g>
                <g class="room">
                    <path d="M550 350 L550 250 L600 250 L600 350 Z" />
                    <text class="name" x="550" y="290" dx="25">Doct.</text>
                    <text class="name" x="550" y="320" dx="25">29</text>
                </g>
                <g class="room">
                    <path d="M600 350 L600 250 L650 250 L650 350 Z" />
                    <text class="name" x="600" y="290" dx="25">Doct.</text>
                    <text class="name" x="600" y="320" dx="25">30</text>
                </g>
                <g class="room">
                    <path d="M650 350 L650 250 L700 250 L700 350 Z" />
                    <text class="name" x="650" y="290" dx="25">Doct.</text>
                    <text class="name" x="650" y="320" dx="25">31</text>
                </g>
                <g class="room">
                    <path d="M700 350 L700 250 L750 250 L750 350 Z" />
                    <text class="name" x="700" y="290" dx="25">Doct.</text>
                    <text class="name" x="700" y="320" dx="25">32</text>
                </g>
                <g class="room">
                    <path d="M750 350 L750 250 L800 250 L800 350 Z" />
                    <text class="name" x="750" y="290" dx="25">Doct.</text>
                    <text class="name" x="750" y="320" dx="25">33</text>
                </g>

                <g class="room">
                    <path d="M800 350 L800 250 L885 250 L885 300 L900 300 L900 350 Z" />
                    <text class="name" x="825" y="290" dx="25">Reunión</text>
                    <text class="name" x="825" y="320" dx="25">34</text>
                </g>
                <g class="room blue">
                    <path d="M885 300 L915 300 L915 200 L885 200 Z" />
                    <text class="name" x="875" y="255" dx="25" writing-mode="tb">Cocina 35</text>
                </g>

                <g class="room">
                    <path d="M915 175 L915 95.5 L800 89 L800 175 Z" />
                    <text class="name" x="830" y="120" dx="25">Secretaria</text>
                    <text class="name" x="830" y="135" dx="25">Docente</text>
                    <text class="name" x="830" y="160" dx="25">19</text>
                </g>
                <g class="room">
                    <path d="M800 175 L800 89 L750 86 L750 175 Z" />
                    <text class="name" x="765" y="135" dx="25" writing-mode="tb">Encargado</text>
                    <text class="name" x="750" y="135" dx="25" writing-mode="tb">Docente</text>
                    <text class="name" x="735" y="135" dx="25" writing-mode="tb">18</text>
                </g>
                <g class="room gray">
                    <path d="M750 175 L750 86 L700 83.5 L700 175 Z" />
                    <text class="name" x="700" y="120" dx="25">?</text>
                    <text class="name" x="700" y="160" dx="25">17</text>
                </g>
                <g class="room blue">
                    <path d="M300 175 L300 62 L500 73 L500 175 Z" />
                    <text class="name" x="375" y="120" dx="25">Laboratorio</text>
                    <text class="name" x="375" y="135" dx="25">Computación</text>
                    <text class="name" x="375" y="160" dx="25">14</text>
                </g>
            </g>
        </svg>
    </body>
</html>
